<div class="zone-header d-flex justify-content-between mt-5 mb-4">


    <span class="d-flex">
      <div class="dropdown pt-1 d-block d-sm-none">
        <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-align-left"></i>
        </a>

        <div class="dropdown-menu" id="mobile-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item mt-3" href="#"> <i class="fas fa-home"></i>
            Home</a>
          <a class="dropdown-item" href="#"> <i class="fas fa-user"></i>
            Profile</a>
          <a class="dropdown-item" href="https://shop.mypaddiapp.com/" target="_blank"> <i
              class="fas fa-shopping-cart"></i> Visit Store</a>
          <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.mobicure.mypaddi"
            target="_blank"> <i class="fab fa-google-play"></i> Play store download</a>
          <a class="dropdown-item" href="https://apps.apple.com/us/app/mypaddi/id1406410464" target="_blank"> <i
              class="fab fa-apple"></i> App store download</a>
          <a class="dropdown-item" href="#"> <i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
      <h1 class="zone-text pl-3 sex-ed ml-2 mt-3">Sex-Ed blog</h1>
    </span>


    <div class="d-flex nav-items mr-4">
      <img src="assets/images/notification.svg" data-toggle="modal" data-target="#notification"
        class="notification-bell mt-1" alt="">
      <h6 class="mt-3 ml-3 header-username user-name">Jayhimsef</h6>

      <img src="assets/images/profile.svg" class="user-img-card mx-2" alt="">

      <div class="dropdown">
        <i class="fas fa-chevron-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"></i>

        <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item mt-1">Profile</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row ml-2">
    <div class="col-md-4">
      <select name="" id="" class="form-control">
        <option selected disabled>Select Categories</option>
      </select>
    </div>
  </div>



  <div class="row no-gutters py-4 ml-3 mr-3">
    <div class="col-md-4" *ngFor="let i of someArray">
      <div class="card"> 
        <img src="assets/images/group.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
             <div class="category"> SEXUAL ABUSE</div>
            </div>
            <div class="col-6">
             <div class="time-stamp text-right">13 mins ago</div> 
            </div>
          </div>
          <h5 class="card-title title">How to deal with Sexual Abuse</h5>
          <p class="card-text">Sexual violence is shockingly common in our
          society. According to the Centers for Disease
          Control and Prevention (CDC), nearly 1 in 5 women
          in the U.S. are raped or sexually assaulted at some
          point in their lives, often by <span> <a href="#">continue reading</a></span></p>
         
        </div>
      </div>
    </div>
   
  
  </div>

