.side-bar {
    background-color: #fcfcfc;
    border: 1px solid #fff;
    padding-left: 30px;
}

.middle {
    background: #f3f2f7;
}
.category {
    color:#555555;
    font-size: 9px;
}
.time-stamp {
    color:#555555;
    font-size: 9px;
}
.card {
    .card-title {
    color: #000;
    font-size: 17px;
    margin-top: 10px;
}

.card-text {
color: #555;
font-size: 11px;
font-weight: 500;

span {
    color:#5d83f6 !important;
}
}

img {
    padding:10px;
}
}

.paddies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555;
    border: 3px solid #c9c9c9;
    padding:10px;
    border-radius: 5px;
   font-weight: 500;
  color: #555;
}




.profile-pic {
    width: 95px;
    height: 95px;
    margin-top: 100px;
}
.card {
    margin: 5px;
    border:0
}

h2 {
    font-size: 19px;
    // font-weight: bold;
}

h3 {
    font-size: 17px;
    // font-weight: bold;
}

h4 {
    font-size: 15px;
    font-weight: 500;
    color: #acacac;
}

h5 {
    font-size: 16px;
    font-weight: 600;
    color: #acacac;
}

.btn-primary {
    background-color: #ededfb !important;
    color: #5c53ef;
    border: none;
    width: 174px;
    height: 50px;
    border-radius: 5px;
}

.btn {
    // font-weight: bold;
}

.img-sex {
    width: 16px;
    height: 23.7px;
    margin-top: 35px; /* the position relative and top negative value pushes the image upwards vertically */
}

.all-icons {
    display: flex;
}

.sex {
    margin-top: 30px;
    margin-left: 20px;
}

.sub-text {
    margin-left: 35px;
    position: relative;
    top: -5px;
}

.img-svg {
    width: 20px;
    height: 20px;
}

.margin {
    margin-top: 10px;
}

#paddies {
    width: 336px;
    height: 56px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #c9c9c9;
    color: #555555;
    font-weight: 600;

}

#paddies:focus {
    border: 2px solid #5c53ef;
    color: #5c53ef;
    outline: none;
}

select { /* to style the drop down option section */
//    color: #acacac;
//    font-size: 18px;
//    font-weight: 500;
//    padding: 15px;
}



.sex-ed {
    font-size: 32px;
    // font-weight: bold;

}

.user-name {
    font-weight: 600;
}

#categories {
    width: 270px;
    height: 48px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #eeeeee;
}

#categories:focus {
    border: 2px solid #4d79f6;
    color: #4d79f6;
    outline: none;
}

select { /* to style the drop down option section */
//    color: #acacac;
//    font-size: 18px;
//    font-weight: 500;
//    padding: 15px;
//    margin-left: 12px;
}

.group {
    width: 271px;
    height: 137px;
}

.red {
    border: 2px solid red;
    
}

