<div class="container-fluid">
  <div class="row">
    <div class="col side-bar">
      <img class="img-fluid profile-pic" src="assets/images/mask.png" alt="">

      <h2 class="mt-5">Evelynisiah</h2>
       <h4 class="mt-2">Creating Something Iconic</h4>

       <button type="button" class="btn btn-primary mt-3">Edit Profile</button>
      <div class="all-icons">
       <img class="img-fluid img-sex" src="assets/images/woman.svg" alt="">
       <h3 class="sex">Female</h3>
      </div>
      <h5 class="sub-text">Gender</h5>

      <div class="all-icons">
        <img class="img-fluid img-svg mt-3" src="assets/images/clock.svg" alt="">
        <h3 class="ml-3 margin">October 2019</h3>
       </div>
       <h5 class="mr-2 sub-text">Joined</h5>     
      
       <div class="all-icons">
        <img class="img-fluid img-svg mt-3" src="assets/images/facebook.svg" alt="">
        <h3 class="ml-3 margin">Evelyn Isiah</h3>
       </div>
       <h5 class="mr-2 sub-text">Facebook</h5> 

       <div class="all-icons">
        <img class="img-fluid img-svg mt-3" src="assets/images/twitter.svg" alt="">
        <h3 class="ml-3 margin">@evelynisiah</h3>
       </div>
       <h5 class="mr-2 sub-text">Twitter</h5> 

       
    <div class="select mt-5 d-flex justify-content-between">
     <p>dhghdfiefy</p><i class="fa-solid fa-chevron-right"></i>
    </div>
    </div> 
    
    <div class="col-6 middle">
    <!--  <div class="navbar">
        <div class="d-flex justify-content-between">
            <h1 class="sex-ed">Sex-Ed Blog</h1>
            <div class="align-items-end">
              <nav>
                <ul class="">
                  <a href="#"> <img class="img-fluid notification" src="assets/images/notification.svg" alt=""></a> 
                  <h6>Jayhimsef</h6>
                  <a href="#"><img class="img-fluid profile" src="assets/images/profile.svg" alt=""></a>
                </ul>
            </nav>
            </div>
          </div>
      </div>
    </div>-->

    <div class="zone-header d-flex justify-content-between mt-5 mb-4">


      <span class="d-flex">
          <div class="dropdown pt-1 d-block d-sm-none">
              <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-align-left"></i>
              </a>
  
              <div class="dropdown-menu" id="mobile-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item mt-3" href="#"> <i class="fas fa-home"></i>
                      Home</a>
                  <a class="dropdown-item" href="#"> <i class="fas fa-user"></i>
                      Profile</a>
                  <a class="dropdown-item" href="https://shop.mypaddiapp.com/" target="_blank"> <i
                          class="fas fa-shopping-cart"></i> Visit Store</a>
                  <a class="dropdown-item" href="https://play.google.com/store/apps/details?id=com.mobicure.mypaddi"
                      target="_blank"> <i class="fab fa-google-play"></i> Play store download</a>
                  <a class="dropdown-item" href="https://apps.apple.com/us/app/mypaddi/id1406410464" target="_blank"> <i
                          class="fab fa-apple"></i> App store download</a>
                  <a class="dropdown-item" href="#"> <i class="fas fa-sign-out-alt"></i> Logout</a>
              </div>
          </div>
          <h1 class="zone-text pl-3">Sex-Ed blog</h1>
      </span>
  
  
      <div class="d-flex">
          <img src="assets/images/notification.svg" data-toggle="modal" data-target="#notification"
              class="notification-bell" alt="">
          <h6 class="mt-2 ml-3 header-username">Jayhimsef</h6>
  
          <img src="assets/images/profile.svg"
              class="user-img-card mx-2" alt="">
  
          <div class="dropdown">
              <i class="fas fa-chevron-down" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"></i>
  
              <div class="dropdown-menu" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item">Profile</a>
                  <a class="dropdown-item" href="#">Logout</a>
              </div>
          </div>
        </div>
      </div>
</div>

    <div class="col red">
      <h1>End</h1>
    </div>
  </div>
</div>