<div class="search-box mt-5 ">
    <input class="search-input" type="text"  placeholder="Search here">
    <i class="fa fa-search" ></i>
   </div>
<section id="general-recent">
   <h2 class="recent-posts mt-5"> Recent posts</h2>
   
          <div class="all-recent"> 
          <div class="recent-img">
              <img src="assets/images/girls.png" alt="">
           </div>
           
           <div class="feeds-recent"> 
           <h5>SEXUAL ABUSE</h5>
           <h4>How to deal with <br/> Sexual Abuse </h4>
           <div class="small-clock">
             <img class="img-fluid" src="assets/images/clock.svg" alt="">
             <p>13 mins ago</p>
           </div>
         </div>
      </div>
    
      <div class="all-recent-two"> 
       <div class="recent-img-two">
           <img src="assets/images/boys.png" alt="">
        </div>
        
        <div class="feeds-recent-two"> 
        <h5>HIV & STIs</h5>
        <h4>Reducing Mother-to-Child <br/> HIV Transmission </h4>
        <div class="small-clock">
          <img class="img-fluid" src="assets/images/clock.svg" alt="">
          <p>30 mins ago</p>
        </div>
      </div>
   </div>

   <div class="all-recent-two"> 
     <div class="recent-img-two">
         <img src="assets/images/girlfriends.png" alt="">
      </div>
      
      <div class="feeds-recent-two"> 
      <h5>RELATIONSHIP</h5>
      <h4>6 Things You Should Never Do <br/> on Facebook While Married</h4>
      <div class="small-clock">
        <img class="img-fluid" src="assets/images/clock.svg" alt="">
        <p>30 mins ago</p>
      </div>
    </div>
 </div>  

 <div class="all-recent-two"> 
   <div class="recent-img-two">
       <img src="assets/images/girls.png" alt="">
    </div>
    
    <div class="feeds-recent-two"> 
    <h5>SEXUAL ABUSE</h5>
    <h4>How to deal with <br/> Sexual Abuse</h4>
    <div class="small-clock">
      <img class="img-fluid" src="assets/images/clock.svg" alt="">
      <p>13 mins ago</p>
    </div>
  </div>
</div>  


<div class="all-recent-two"> 
 <div class="recent-img-two">
     <img src="assets/images/boys.png" alt="">
  </div>
  
  <div class="feeds-recent-two"> 
  <h5>HIV & STIs</h5>
  <h4>Reducing Mother-to-Child <br/> HIV Transmission </h4>
  <div class="small-clock">
    <img class="img-fluid" src="assets/images/clock.svg" alt="">
    <p>30 mins ago</p>
  </div>
</div>
</div>
     
<div class="all-recent-two"> 
 <div class="recent-img-two">
     <img src="assets/images/girlfriends.png" alt="">
  </div>
  
  <div class="feeds-recent-two"> 
  <h5>RELATIONSHIP</h5>
  <h4>6 Things You Should Never Do <br/> on Facebook While Married</h4>
  <div class="small-clock">
    <img class="img-fluid" src="assets/images/clock.svg" alt="">
    <p>30 mins ago</p>
  </div>
</div>
</div>  
</section> 
