<img class="img-fluid profile-pic" src="assets/images/mask.png" alt="">

      <h2 class="mt-5">Evelynisiah</h2>
      <h4 class="mt-2">Creating Something Iconic</h4>

      <button type="button" class="btn btn-primary mt-3">Edit Profile</button>
      <div class="all-icons">
        <img class="img-fluid img-sex" src="assets/images/woman.svg" alt="">
        <h3 class="sex">Female</h3>
      </div>
      <h5 class="sub-text">Gender</h5>

      <div class="all-icons">
        <img class="img-fluid img-svg mt-3" src="assets/images/clock.svg" alt="">
        <h3 class="ml-3 margin">October 2019</h3>
      </div>
      <h5 class="mr-2 sub-text">Joined</h5>

      <div class="all-icons">
        <img class="img-fluid img-svg mt-3" src="assets/images/facebook.svg" alt="">
        <h3 class="ml-3 margin">Evelyn Isiah</h3>
      </div>
      <h5 class="mr-2 sub-text">Facebook</h5>

      <div class="all-icons">
        <img class="img-fluid img-svg mt-3" src="assets/images/twitter.svg" alt="">
        <h3 class="ml-3 margin">@evelynisiah</h3>
      </div>
      <h5 class="mr-2 sub-text">Twitter</h5>


      <div class="paddies mt-5 mr-4">
        <div>250 Paddies</div> <span>View All <i class="fas fa-chevron-right"></i></span>
      </div>
